<%- include("partials/header.ejs") %>

<h1>Contact</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Beatae numquam quod soluta libero voluptates recusandae nemo 
    id ut quisquam enim suscipit, perferendis consequuntur eum 
    praesentium animi saepe impedit dolorum dolor.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Beatae numquam quod soluta libero voluptates recusandae nemo 
    id ut quisquam enim suscipit, perferendis consequuntur eum 
    praesentium animi saepe impedit dolorum dolor.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Beatae numquam quod soluta libero voluptates recusandae nemo 
    id ut quisquam enim suscipit, perferendis consequuntur eum 
    praesentium animi saepe impedit dolorum dolor.
</p>